<div class="page-sidebar" id="sidebar">
    <!-- Page Sidebar Header-->
    <div class="sidebar-header-wrapper">
        <input type="text" class="searchinput" />
        <i class="searchicon fa fa-search"></i>
        <div class="searchhelper">Search Reports, Charts, Emails or Notifications</div>
    </div>
    <!-- /Page Sidebar Header -->
    <!-- 控制面板 -->
    <ul class="nav sidebar-menu">
        <!--Dashboard-->
        <li class="active">
            <a href="/admin">
                <i class="menu-icon glyphicon glyphicon-home"></i>
                <span class="menu-text"> 控制面板 </span>
            </a>
        </li>
        <!--权限管理-->
        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-cogs"></i>
                <span class="menu-text"> 权限管理 </span>
                <i class="menu-expand"></i>
            </a>
            <ul class="submenu">
                <li>
                    <a href="elements.html">
                        <i class="menu-icon fa fa-user"></i>
                        <span class="menu-text"> 管理员列表 </span>
                    </a>
                </li>
                <li>
                    <a href="tabs.html">
                        <i class="menu-icon fa  fa-group"></i>
                        <span class="menu-text">角色列表</span>
                    </a>
                </li>
                <li>
                    <a href="{:url('admin/rule/index')}">
                        <i class="menu-icon fa fa-cogs"></i>
                        <span class="menu-text">权限列表</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- /Sidebar Menu -->
</div>